:root {
  font-size: 16px;
}
.navbar-wrapper {
  background: black;
}

.list-wrapper {
  color: white;
  transition: all 200ms ease-in;
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: 1rem;
}

.list-wrapper:hover {
  scale: 1.1;
  color: aliceblue;
}
.button-toggle {
  color: white;
  background: black;
  border: none;
  border-radius: 1px;
}
