:root {
  font-size: 15px;
  --button-border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
}
.contact-wrapper {
  background: black;
}
.gradient-for-contact {
  position: absolute;
  width: 10rem;
  height: 20rem;
  background: rgb(230, 222, 222);
  filter: blur(100px);
  border-radius: 100px;
}

.green-header-text {
  color: green;
  font-weight: 500;
  font-size: 1.5rem;
}

.white-header-text {
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

.white-sub-header-text {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(168, 165, 160);
}

.contact-icon-wrapper {
  padding: 2rem;
  border: 1px solid;
  margin: 0.2rem;
  color: aliceblue;
}

.icon-button {
  border: 1px solid;
  border-radius: var(--button-border-radius);
  transition: all 300ms ease-in;
}

.icon-button:hover {
  scale: 1.1;
  background-color: rgb(77, 215, 77);
  color: black;
  cursor: pointer;
}

/* right side */

.right-section-image {
  width: 50%;
}

.right-section-header {
  z-index: 99;
  color: aliceblue;
  color: green;
}

/* bottom part */

.get-started-wrapper {
  color: aliceblue;
  font-weight: 500;
  background: #000;
}

.get-started-text-wrapper {
  background: #000;
  font-size: 1.5rem;
  color: green;
}

.get-started-button {
  border-radius: var(--button-border-radius);
  border: none;
  font-weight: 400;
  transition: all 300ms ease-in;
}

.get-started-button:hover {
  scale: 1.1;
}
